!!!5
html
	include ./head
		//title  #{conf.title}

	body.bg-white.align-center
					.spacer
					a(href='/auth/twitter')
						button.bg-green.white.large.inline-block.box-shadow
							| Login with Twitter
