!!!5
html
	include ./head
	script
		localStorage.setItem("desktop", 1);

	body.bg-white.align-center
					.spacer
					a(href='/auth/twitter')
						button.bg-green.white.large.inline-block.box-shadow
							| Login with Twitter
